@model CustomerAssignmentApplication.Models.Customer

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
@*<script>
  $( function() {
      $("#Date").datepicker({ dateFormat:"dd/mm/yy"});
  } );
</script>*@

<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                @*<input asp-for="DOB" class="form-control" />*@
                <div>
                    @*@Html.DisplayNameFor(m => m.DOB)*@
                    @*@Html.EditorFor(m => m.DOB, new { htmlAttributes = new { @class = "form-control", @id="Date" }})*@
                    <input type="date" class = "form-control" name="DOB" />
                </div>
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                @*<input asp-for="Gender" class="form-control" />*@

                <div class="btn-group" role="group">
                    @*<input type="radio" name="radio-Btn-Group" class="btn-check" id="radioBtn1">
                    <label class="btn btn-outline-danger" for="radioBtn1">Male</label>

                    <input type="radio" name="radio-Btn-Group" class="btn-check" id="radioBtn2">
                    <label class="btn btn-outline-danger" for="radioBtn2">Female</label>*@

                    @Html.RadioButtonFor(m => m.Gender,"Male", new { @class = "btn-check" ,@id = "radioBtn1"})
                    <label class="btn btn-outline-warning" for="radioBtn1">Male</label>
                    @Html.RadioButtonFor(m => m.Gender,"Female", new { @class = "btn-check" ,@id = "radioBtn2"})
                    <label class="btn btn-outline-warning" for="radioBtn2">Female</label>
                </div>

                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
